# Set default behavior for all files to let Git handle line endings.
* text=auto eol=lf

# Explicitly declare text files to always have LF line endings in the repo.
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.conf text eol=lf

# Explicitly declare files that should be treated as binary and not have their line endings changed.
*.pdf binary
*.png binary